.multiActive {
    float: right
}

.multiActive span:first {}

.fillter {
    position: fixed;
    // background-color: #efefef !important;
    z-index: 999;
    margin-top: -14px;
    padding: 0;
    padding-top: 14px;
}

.fillter ~ table {
    padding-top: 40px;
}

.customerManageBTNSET {
    display: none;
}

.customerManageBTNSET.show {
    display: inline-flex;
}

._search1:before {
    content: "";
    position: absolute;
    height: 15px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 100%;
    background-color: #efefef !important;
}
.bc-efefef {
    background-color: #efefef !important;
}

div:has(> label > input[type=radio]:checked) {
    opacity: 0.5;
}

div.btn-group:has(> label > input) {
    display: none;
    color: red!important;
}
.mw-75px{
    min-width: 75px;
}